<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="UK Airspace data for glider pilots">
  <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>ASSelect - UK Airspace</title>
</head>

<body>
  <header class="hero is-small is-primary block">
    <div class="hero-body">
      <div class="container">
        <div class="title is-4">
          ASSelect - UK Airspace
        </div>
      </div>
    </div>
  </header>

  <form action="/download" method="get">
    <div class="container block">
      <div class="tabs" id="tabs">
        <ul>
          <li class="is-active" data-tab="main"><a>Main</a></li>
          <li data-tab="option"><a>Option</a></li>
          <li data-tab="extra"><a>Extra</a></li>
          <li data-tab="notam"><a>NOTAM</a></li>
          <li data-tab="about"><a>About</a></li>
        </ul>
      </div>

      <div id="tab-content" class="mx-4">
        <div data-content="main">
          {% include "main.html" %}
        </div>
        <div data-content="option" hidden>
          {% include "option.html" %}
        </div>
        <div data-content="extra" hidden>
          {% include "extra.html" %}
        </div>
        <div data-content="notam" hidden>
          {% include "notam.html" %}
        </div>
        <div data-content="about" hidden>
          {% include "about.html" %}
        </div>
      </div>
    </div>

    <div class="container block">
      <div class="mx-4">
        <input class="button is-primary" type="submit" value="Download">
        <a id="airac-button" class="button is-text is-pulled-right">
          AIRAC: {{airac_date}}
        </a>
      </div>
    </div>
  </form>

  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <h2 class="subtitle">Release Details</h2>
        <pre>{{ release_text }}</pre>
      </div>
    </div>
    <button id="modal-close" class="modal-close is-large"></button>
  </div>

<script>
  // Tab control
  document.querySelectorAll("#tabs li").forEach((tab) => {
    tab.addEventListener("click", (e) => {
      const data = tab.getAttribute("data-tab");

      // Set active tab
      document.querySelectorAll("#tabs li").forEach((tab) => {
        tab.classList.remove("is-active");
      });
      tab.classList.add("is-active");

      // Set active content
      document.querySelectorAll("#tab-content > div").forEach((item) => {
        item.hidden = true;;
      });
      document.querySelector(`div[data-content="${data}"]`).hidden = false;
    });
  });

  // AIRAC data modal control
  document.querySelector("#airac-button").addEventListener("click", (e) => {
    document.querySelector(".modal").classList.add("is-active");
  });

  document.querySelectorAll(".modal-background, #modal-close").forEach((item) => {
    item.addEventListener("click", (e) => {
      document.querySelector(".modal").classList.remove("is-active");
    });
  });
</script>

</body>
