<div id="extra_blocks">
  <div class="card block">
    <header class="card-header is-clickable" data-card="rat"}>
      <p class="card-header-title">Temporary Restrictions, RA(T)</p>
    </header>

    <div class="card-content" data-card="rat">
      <div class="columns is-multiline">
        {% for rat in rats %}
          <div class="column is-one-third">
            <div class="field">
            <label class="checkbox">
              <input type="checkbox" class="mr-1" name="rat-{{rat}}" value="" {{"checked" if ("rat-" ~ rat) in settings}}/>
              {{rat}}
            </label>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="card block">
    <header class="card-header is-clickable" data-card="loa">
      <p class="card-header-title">Local Agreements</p>
    </header>

    <div class="card-content" hidden data-card="loa">
      <div class="columns is-multiline">
        {% for loa in loas %}
          <div class="column is-one-third">
            <div class="field">
            <label class="checkbox">
              <input type="checkbox" class="mr-1" name="loa-{{loa}}"  {{"checked" if ("loa-" ~ loa) in settings}}/>
              {{loa}}
            </label>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="card block">
    <header class="card-header is-clickable"} data-card="wave">
      <p class="card-header-title">Wave Boxes</p>
    </header>

    <div class="card-content" hidden data-card="wave">
      <div class="columns is-multiline">
        {% for wave in wave_boxes %}
          <div class="column is-one-third">
            <div class="field">
            <label class="checkbox">
              <input type="checkbox" class="mr-1" name="wave-{{wave}}"  {{"checked" if ("wave-" ~ wave) in settings}}/>
              {{wave}}
            </label>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll(".card-header").forEach((header) => {
      header.addEventListener("click", (e) => {
        document.querySelectorAll(".card-content").forEach((card) => {
            card.hidden = (card.getAttribute("data-card") != header.getAttribute("data-card"));
        });
      });
    });
  });
</script>
