<div id="extra_blocks">

  <!-- RA(T)s -->
  <div class="card block">
    <header class="card-header is-clickable" data-card="rat"}>
      <p class="card-header-title">Temporary Restrictions, RA(T)</p>
      <div class="card-header-icon">
        <input id="rat-button" class="button is-info is-light is-small" type="button" data-card="rat" value="Clear">
      </div>
    </header>

    <div class="card-content" data-card="rat">
      <div class="columns is-multiline">
        {% for rat in rats %}
          <div class="column is-one-third">
            <div class="field">
            <label class="checkbox">
              <input type="checkbox" class="mr-1" name="rat-{{rat}}" value="" {{"checked" if ("rat-" ~ rat) in settings}}/>
              {{rat}}
            </label>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- LOAs -->
  <div class="card block">
    <header class="card-header is-clickable" data-card="loa">
      <p class="card-header-title">Local Agreements</p>
      <div class="card-header-icon">
        <input id="loa-button" class="is-hidden button is-info is-light is-small ml-2" type="button" data-card="loa" value="Clear">
      </div>
    </header>

    <div class="card-content is-hidden" data-card="loa">
      <div class="columns is-multiline">
        {% for loa in loas %}
          <div class="column is-one-third">
            <div class="field">
            <label class="checkbox">
              <input type="checkbox" class="mr-1" name="loa-{{loa}}"  {{"checked" if ("loa-" ~ loa) in settings}}/>
              {{loa}}
            </label>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Wave boxes -->
  <div class="card block">
    <header class="card-header is-clickable"} data-card="wave">
      <p class="card-header-title">Wave Boxes</p>
      <div class="card-header-icon">
        <input id="wave-button" class="is-hidden button is-info is-light is-small ml-2" type="button" data-card="wave" value="Clear">
      </div>
    </header>

    <div class="card-content is-hidden" data-card="wave">
      <div class="columns is-multiline">
        {% for wave in wave_boxes %}
          <div class="column is-one-third">
            <div class="field">
            <label class="checkbox">
              <input type="checkbox" class="mr-1" name="wave-{{wave}}"  {{"checked" if ("wave-" ~ wave) in settings}}/>
              {{wave}}
            </label>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  // Add click listener to card headers
  document.querySelectorAll(".card-header").forEach((header) => {
    header.addEventListener("click", (e) => {
      document.querySelectorAll(".card-content, #rat-button, #loa-button, #wave-button").forEach((element) => {
        // Hide or show card content and clear buttons
        if (element.getAttribute("data-card") == header.getAttribute("data-card")) {
          element.classList.remove("is-hidden");
        } else {
          element.classList.add("is-hidden");
        }
      });
    });
  });

  // Clear RA(T)s
  document.querySelector("#rat-button").addEventListener("click", (e) => {
    document.querySelectorAll("input[name^='rat-']").forEach((checkbox) => {
      checkbox.checked = false;
    });
  });
  // Clear LOAs
  document.querySelector("#loa-button").addEventListener("click", (e) => {
    document.querySelectorAll("input[name^='loa-']").forEach((checkbox) => {
      checkbox.checked = false;
    });
  });
  // Clear Wave boxes
  document.querySelector("#wave-button").addEventListener("click", (e) => {
    document.querySelectorAll("input[name^='wave-']").forEach((checkbox) => {
      checkbox.checked = false;
    });
  });
</script>
