{% macro option(setting, value, text) %}
  {% if setting == value %}
    <option value="{{value}}" selected>{{text}}</option>
  {% else %}
    <option value="{{value}}">{{text}}</option>
  {% endif %}
{% endmacro %}

<div class="box">
  <div class="columns">
    <div class="column is-one-third">
      <div class="field">
        <label class="label is-small">ATZ:</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="atz">
              {{option(settings.get("atz"), "CTR", "Control Zone")}}
              {{option(settings.get("atz"), "D", "Class D")}}
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="field">
        <label class="label is-small">ILS Feather:</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="ils">
              {{option(settings.get("ils"), "ATZ", "Az ATZ")}}
              {{option(settings.get("ils"), "F", "Class F")}}
              {{option(settings.get("ils"), "G", "Class G")}}
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-third">
      <div class="field">
        <label class="label is-small">Non-ATZ Airfield:</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="noatz">
              {{option(settings.get("noatz"), "", "No")}}
              {{option(settings.get("noatz"), "F", "Class F")}}
              {{option(settings.get("noatz"), "G", "Class G")}}
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="field">
        <label class="label is-small">Microlight Airfield:</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="ul">
              {{option(settings.get("ul"), "", "No")}}
              {{option(settings.get("ul"), "F", "Class F")}}
              {{option(settings.get("ul"), "G", "Class G")}}
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-third">
      <div class="field">
        <label class="label is-small">Gliding Airfield:</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="glider">
              {{option(settings.get("glider"), "", "No")}}
              {{option(settings.get("glider"), "W", "Gliding Sector")}}
              {{option(settings.get("glider"), "F", "Class F")}}
              {{option(settings.get("glider"), "G", "Class G")}}
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="field">
        <label class="label is-small">Exclude Home Airfield:</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="home">
              {{option(settings.get("home"), "", "No")}}
              {% for gs in gliding_sites %}
                {{option(settings.get("home"), gs, gs)}}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-third">
      <div class="field">
        <label class="label is-small">Append Radio Frequency:</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="radio">
              {{option(settings.get("radio"), "", "No")}}
              {{option(settings.get("radio"), "APPEND", "Yes")}}
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
