{% macro option(setting, value, text) %}
  {% if setting == value %}
    <option value="{{value}}" selected>{{text}}</option>
  {% else %}
    <option value="{{value}}">{{text}}</option>
  {% endif %}
{% endmacro %}

<div class="box">
  <div class="columns">
    <div class="column is-one-third">
      <div class="field">
        <label class="label">Format</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="format">
              {{option(settings.get("format"), "OPENAIR", "OpenAir")}}
              {{option(settings.get("format"), "RATONLY", "RA(T) Only")}}
              {{option(settings.get("format"), "COMPETITION", "Competition")}}
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="field">
        <label class="label">Maximum Level</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="maxlevel">
              {{option(settings.get("maxlevel"), "FL660", "Unlimited")}}
              {{option(settings.get("maxlevel"), "FL195", "FL195")}}
              {{option(settings.get("maxlevel"), "FL105", "FL105")}}
              {{option(settings.get("maxlevel"), "FL65", "FL65")}}
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-third">
      <div class="field">
        <label class="label">HIRTA/GVS</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="hirta">
              {{option(settings.get("hirta"), "", "No")}}
              {{option(settings.get("hirta"), "Q", "Danger")}}
              {{option(settings.get("hirta"), "R", "Restricted")}}
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="field">
        <label class="label">Obstacle</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="obstacle">
              {{option(settings.get("obstacle"), "", "No")}}
              {{option(settings.get("obstacle"), "Q", "Danger")}}
              {{option(settings.get("obstacle"), "F", "Class F")}}
              {{option(settings.get("obstacle"), "G", "Class G")}}
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-third">
      <div class="field">
        <label class="label">Radio Frequency Label</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="radio">
              {{option(settings.get("radio"), "", "No")}}
              {{option(settings.get("radio"), "APPEND", "Add to name")}}
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="field">
        <label class="label">Altitude Overlay</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="overlay">
              {{option(settings.get("overlay"), "", "No")}}
              {{option(settings.get("overlay"), "FL195", "Bases to FL195")}}
              {{option(settings.get("overlay"), "FL105", "Bases to FL105")}}
              {{option(settings.get("overlay"), "ATZDZ", "Bases to FL105 and ATZ/DZ")}}
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
