{% macro option(setting, value, text) %}
  {% if setting == value %}
    <option value="{{value}}" selected>{{text}}</option>
  {% else %}
    <option value="{{value}}">{{text}}</option>
  {% endif %}
{% endmacro %}

<div class="box">
  <div class="columns">
    <div class="column is-one-third">
      <div class="field">
        <label class="label is-small">Format:</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="format">
              {{option(settings.get("format"), "OPENAIR", "OpenAir")}}
              {{option(settings.get("format"), "RATONLY", "RA(T) Only")}}
              {{option(settings.get("format"), "COMPETITION", "Competition")}}
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="field">
        <label class="label is-small">Maximum Level:</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="maxlevel">
              {{option(settings.get("maxlevel"), "FL660", "Unlimited")}}
              {{option(settings.get("maxlevel"), "FL195", "FL195")}}
              {{option(settings.get("maxlevel"), "FL105", "FL105")}}
              {{option(settings.get("maxlevel"), "FL65", "FL65")}}
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-third">
      <div class="field">
        <label class="label is-small">HIRTA/GVS:</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="hirta">
              {{option(settings.get("hirta"), "", "Exclude")}}
              {{option(settings.get("hirta"), "Q", "Danger")}}
              {{option(settings.get("hirta"), "R", "Restricted")}}
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="field">
        <label class="label is-small">Obstacle:</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="obstacle">
              {{option(settings.get("obstacle"), "", "Exclude")}}
              {{option(settings.get("obstacle"), "F", "Class F")}}
              {{option(settings.get("obstacle"), "G", "Class G")}}
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-third">
      <div class="field">
        <label class="label is-small">Altitude Overlay:</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="overlay">
              {{option(settings.get("overlay"), "", "Exclude")}}
              {{option(settings.get("overlay"), "FL105", "Up to FL105")}}
              {{option(settings.get("overlay"), "FL195", "Up to FL195")}}
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
